*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.post-content button{
  background-color: rgba(84, 62, 224, 1);
  width: 177px;
  height: 56px;
  padding: 8px, 16px;
}

.feed-main-container{
  display: grid;
  grid-template-columns: 18rem 1fr;
  grid-template-rows: 5rem 1fr;
  grid-template-areas: 
  "aside header"
  "aside section";
  min-height: 100vh;
}

header{
  grid-area: header;
  padding: 2rem;
  border-bottom: 2px solid rgb(228, 228, 228);
  /* border: 3px solid blue; */
}

aside{
  grid-area: aside;
  padding: 2rem;
  border-right: 2px solid rgb(228, 228, 228);
  /* border: 3px solid red; */
}

section{
  grid-area: section;
  padding: 3rem 4rem 0rem 1.5rem;
}

.section-inner-container{
  border: 2px solid rgb(228, 228, 228);
  width: 100%;
  /* border: 5px solid green; */
  padding: 50px 120px;
}

.aside-header h1 {
  margin: auto;
  width: 140px;
  height: 48px;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: rgba(84, 62, 224, 1);
}

.section-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 3px solid yellow; */
}

.section-navbar ul{
  border: 2px solid rgb(228, 228, 228);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 80px;
}

.main-content{
  border: 2px solid rgb(228, 228, 228);
  border-radius: 10px;
  margin-top: -20px;
}