*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.feed-main-container{
  display: grid;
  grid-template-columns: 16rem 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
  "aside header"
  "aside section";
  min-height: 100vh;
}

header{
  grid-area: header;
  padding: 2rem;
  background-color: red;
}

aside{
  grid-area: aside;
  padding: 2rem;
  background-color: green;
}

section{
  grid-area: section;
  padding: 2rem;
  background-color: blue;
}