*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.feed-main-container{
  display: grid;
  grid-template-columns: 18rem 1fr;
  grid-template-rows: 5rem 1fr;
  grid-template-areas: 
  "aside header"
  "aside section";
  min-height: 100vh;
}

header{
  grid-area: header;
  padding: 2rem;
  border-bottom: 1px solid grey;
}

aside{
  grid-area: aside;
  padding: 2rem;
  border-right: 1px solid grey;
}

section{
  grid-area: section;
  padding: 2rem;
}