/* REGISTER */
.reg-log-container .log::after {
  content: " ";
  background-color: rgba(84, 62, 224, 1);
  width: 310px;
  height: 6px;
  display: block;
  position: absolute;
}

.reg-log-container .reg {
  text-decoration: none;
}

.reg-log-container .reg::after {
  content: " ";
  background-color: rgba(208, 208, 208, 1);
  width: 310px;
  height: 6px;
  display: block;
  position: absolute;
}
.align-container{
  text-align: center;
}

.back-logo{
  display: flex;
  gap: 8px;
}

.back-logo p{
  margin-top: 15px;
}

.form-container{
  width: 900px;
  padding: 30px;
}

.code-input-box{
  margin-top: 80px;
  margin-bottom: 30px;
  display: flex;
  gap: 10px;
  margin-left: 15%;
}


.code-input-box input{
  width: 106.12px;
  height: 80px;
  text-align: center;
}

.form-header{
  margin-top: 100px;
}

.form-header h3{
  height: 66px;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
}

.form-header p{
  width: 554px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}