* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  color: rgba(17, 17, 17, 1);
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.grid-container {
  width: 100%;
  max-height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.bg-container {
  width: 622px;
  height: 1024px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../../../assets/images/svg/register-background.svg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-container h1 {
  margin: auto;
  width: 214px;
  height: 72px;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  color: #FFFFFF;
}

.bg-container p {
  width: 550px;
  height: 72px;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
}


/* REGISTER */
.form-container {
  padding-top: 15px;
}

.regis-log-container {
  width: 80%;
  margin: auto;
  display: flex;
  gap: 135px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 24px;
}

.regis-log-container .log p {
  margin-left: 150px;
  font-size: 15px;
}

.regis-log-container .log::after {
  content: " ";
  background-color: rgba(208, 208, 208, 1);
  width: 245px;
  height: 6px;
  display: block;
  position: absolute;
}

.regis-log-container .reg::after {
  content: " ";
  /* background-color: rgba(208, 208, 208, 1); */
  background-color: rgba(84, 62, 224, 1);
  width: 310px;
  height: 6px;
  display: block;
  position: absolute;
}

.regis-log-container .log{
  text-decoration: none;
}

form, .google-sign-up-btn, .linkedin-sign-up-btn {
  width: 80%;
  margin: auto;
  /* background-color: red; */
}

.form-header {
  margin: auto;
  width: 73%;
  height: 48px;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 24px;
}

.first-last-name {
  display: flex;
  gap: 12px;
  margin-bottom: 24px;
}

.input-box {
  margin-bottom: 24px;
}

.input-box .profession{
  width: 136px;
}

label {
  width: 150px;
  height: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

input,
select,
.my-btn {
  padding: 10px 16px;
  width: 520px;
  height: 56px;
  background: #FFFFFF;
  border: 1px solid #CED4DA;
  box-shadow: 0px 2px 2px rgba(33, 37, 41, 0.06), 0px 0px 1px rgba(33, 37, 41, 0.08);
  border-radius: 8px;
  margin-top: 12px;
}

.half-box input {
  width: 252px;
}

.create-acc-btn .my-btn {
  background-color: rgba(84, 62, 224, 1);
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: white;
}

.google-sign-up-btn .my-btn,
.linkedin-sign-up-btn .my-btn {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-indent: 40px;
}

.google-sign-up-btn,
.linkedin-sign-up-btn,
.password-input-box,
.confirm-password-input {
  position: relative;
}

.google-sign-up-btn img,
.linkedin-sign-up-btn img {
  position: absolute;
  top: 42%;
  left: 22%;
}

.password-input-box img,
.confirm-password-input img {
  position: absolute;
  top: 45%;
  right: 25%;
}