.login-main-container{
  display: flex;
}

.reg-log-container{
  padding-top: 90px;
  width: 80%;
  margin: auto;
  display: flex;
  gap: 135px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 24px;
}

.reg-log-container .log h3{
  margin-left: 210px;
}

.reg-log-container .log::after{
  content: " ";
  background-color: rgba(84, 62, 224, 1);  
  width: 310px;
  height: 6px;
  display: block;
  position: absolute;
}

.reg-log-container .reg{
  text-decoration: none;
}

.reg-log-container .reg::after {
  content: " ";
  background-color: rgba(208, 208, 208, 1);
  width: 310px;
  height: 6px;
  display: block;
  position: absolute;
} 

/* form{
  width: 80%;
  margin: auto;
} */

.form-header{
  /* text-align: center;
  width: 73%;
  height: 48px;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px; */
  /* margin-bottom: 24px; */
}

/* .input-box{
  margin-bottom: 24px;
} */

/* label{
  width: 78px;
  height: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
input, button{
  padding: 10px 16px;
  width: 520px;
  height: 56px;
  background: #FFFFFF;
  border: 1px solid #CED4DA;
  box-shadow: 0px 2px 2px rgba(33, 37, 41, 0.06), 0px 0px 1px rgba(33, 37, 41, 0.08);
  border-radius: 8px;
  margin-top: 12px;

}

.create-acc-btn button{
  background-color: rgba(84, 62, 224, 1);
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: white;
}

.password-input-box{
  position: relative;
}

.password-input-box img{
  position: absolute;
  top: 45%;
  right: 18%;
} */
