* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  color: rgba(17, 17, 17, 1);
}
.inner-container {
  width: 100%;
  height: 100vh;
}

.navbars {
  width: 100%;
  padding: 18px 60px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.logo p {
  font-weight: 700;
  font-size: 48px;
  color: rgba(84, 62, 224, 1);
}

.nav-links ul {
  margin-top: 30px;
  margin-left: -80px;
  width: 350px;
  justify-content: space-between;
  display: flex;
  list-style-type: none;
}

.nav-links ul li a {
  font-weight: 700;
  font-size: 17px;
  text-decoration: none;
  color: black;
}

.nav-links ul li a:hover {
  text-decoration: underline;
  color: rgba(84, 62, 224, 1);
}

.nav-button {
  display: flex;
  width: 80px;
  justify-content: space-between;
}

.button1{
  margin-left: -260px;
}

.button1 .btn,
.button2 .btn {
  margin-top: 10px;
  padding: 12px 50px;
  font-weight: 700;
  font-size: 18px;
  border-radius: 10px;
  border: 2px solid rgba(84, 62, 224, 1);
}

.button1 .btn {
  background-color: white;
  color: rgba(17, 17, 17, 1);
}

.button2 .btn {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(84, 62, 224, 1);
}




.background-image-content {
  height: 120%;
  width: 100%;
  background-image: linear-gradient(rgba(17, 17, 17, 0.6), rgba(17, 17, 17, 0.6)), url(../../../assets/images/svg/background.svg);
  background-repeat: no-repeat;
  border-color: rgb(218, 61, 201);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-text {
  margin-top: -50px;
}

.background-text h1 {
  font-weight: 700;
  font-size: 54px;
  color: rgba(255, 255, 255, 1);
  width: 1030px;
  line-height: 72px;
  margin-bottom: 30px;
  margin-left: 30px;
}

.background-text p {
  font-weight: 500;
  font-size: 28px;
  color: rgba(255, 255, 255, 1);
  width: 850px;
  line-height: 36px;
  margin-bottom: 40px;
  margin-left: 30px;
}

.background-text .button2 button {
  padding: 12px 24px;
  margin-left: 30px;
}




/* CONTENT */
.content-container {
  padding: 100px 70px;
}

.about-outer-container {
  /* width: 80%; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.about-chatter-text {
  width: 335px;
  height: 72px;
}

.about-chatter-text h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  color: rgba(17, 17, 17, 1);
  margin-bottom: 30px;
}

.about-chatter-text p {
  width: 686px;
  height: 162px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

}

.about-image {
  margin-right: 50px;
  width: 500px;
  height: 404px;
}



/* REASON TO JOIN */
.reason-to-join-container {
  width: 80%;
  margin: auto;
}

.reason-boxes {
  /* text-align: center; */
  display: flex;
  justify-content: space-between;
  width: 90%;
  /* text-align: center; */
}

.reason-text h1 {
  width: 650px;
  height: 72px;
  margin: auto;
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
}

.reason-text p {
  width: 1050px;
  height: 81px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 50px;
}

.boxes {
  width: 306px;
  height: 324px;
  border-radius: 8px;
  border: 1px solid rgba(208, 208, 208, 1);
  padding: 15px 18px;
}

.image {
  width: 92px;
  height: 88px;
  border-radius: 50px;
  background-color: rgba(214, 209, 248, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.boxes h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 20px;
  color: black;
}

.boxes p {
  width: 245px;
  height: 148px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: rgba(98, 98, 98, 1);
}



/* REVIEW */
.review-container {
  width: 100%;
  background-color: rgba(255, 237, 204, 0.5);
  height: 492px;
  display: flex;
  padding: 80px;
  margin-bottom: 96px;
}

.review-image {
  width: 361px;
  height: 361px;
  margin-right: 80px;
}

.review-image img {
  border-radius: 50%;
}

.review-text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  width: 910px;
  margin-bottom: 50px;
}

.reviewer-name-title {
  display: flex;
  align-items: center;
}

.reviewer-name-title h1 {
  width: 352px;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
}

.reviewer-name-title p {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin-top: 60px;
}



/* GET STARTED*/
.get-started {
  height: 402px;
  margin-bottom: 85px;
}

.get-started-inner {
  display: flex;

}

.get-started-inner {
  width: 80%;
  margin: auto;
  justify-content: space-around;
}

.images-container img {
  border-radius: 50%;
}

.images-box {
  width: 352px;
  height: 412px;
  gap: 44px;
  position: relative;
  margin-right: 120px;
}

.img1,
.img2,
.img3 {
  position: absolute;
}

.img2 {
  top: 30%;
  left: 55%;
}

.img3 {
  top: 61%;
}

.get-started-text {
  width: 655px;
  height: 310px;
  gap: 32px;
}

.get-started-text h1 {
  width: 100%;
  height: 144px;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  margin-bottom: 20px;
}

.get-started-text p {
  width: 594px;
  height: 54px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 30px;
}

/* FOOTER */
.footer {
  width: 100%;
  height: 402px;
  background-color: rgba(255, 237, 204, 0.5);
  display: flex;
  padding: 60px 121px 150px 80px;
}

.footer_innerContainer {
  display: flex;
  width: 70%;
  justify-content: space-between;
}

.footer .logo {
  margin-right: 200px;
}

.footer_links ul li {
  list-style-type: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 50px;
}

.footer_links h5 {
  width: 135px;
  height: 36px;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 25px;
}